<% title "Posts" %>
<ul>
<% for post in @posts %>
  <li>
    <span><%= link_to post.title, post %></span>
    <span>(<%= post.comments.length %>)</span>
    <br />
    <%= post.body %>
  </li>
<% end %>
</ul>
<p><%= link_to "New Post", new_post_path %></p>
